button {
     border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 230px;
    width: 230px;
    background-color: #FFBE0B;
    color: white;
    border: none;
    top: 552px;
    left: 220px;
    z-index: 100;
    display: block;
    position: relative;
    text-align: center;
    line-height: 50px;
    font-family: grandHotel;
    transition-duration: all 3s ease;
    font-size: 50px;
}

p {
   animation: buttonpulse 3s infinite ease-in-out alternate;
}

@keyframes buttonpulse {
  from { transform: scale(1); }
  to { transform: scale(1.4); }
}

button:active {
    background-color: #FFBE0B;
    filter: brightness(.8);
    border: 2.5px solid 
}

#background {
    background-color: #FFBE0B;
    animation: fadeOut ease 3s;
    -webkit-animation: fadeOut ease 3s;
    position: relative;
    height: 1334px;
    width: 750px;
    list-style: none;
}

@font-face {
  font-family: lato;
  src: url("Lato-Regular.ttf");
}

@font-face {
  font-family: grandHotel;
  src: url("GrandHotel-Regular.otf");
}

#mainFrameTwo {
    display:none;
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 0px;
    height: 1334px;
    width: 750px;
    background-color: #FFBE0B;
    background: cover;
    overflow-y: hidden;
    border-radius: 3%;
}

h1 {
  animation: 1.0s slide-down;
  margin-top: 8%;
    margin-bottom: 50px;
    font-family: grandHotel;
    color: white;
    font-size: 180px;
    animation: itinerarypulse 3s infinite ease-in-out alternate;
}

@keyframes slide-down {
  from {
    margin-top: -100%;
    height: 200%; 
  }

  to {
    margin-top: 8%;
    height: 100%;
  }
}

h3 {
    font-family: lato;
    color: white;
    font-size: 40px;
line-height: 50px;
    animation: itinerarypulse 3s infinite ease-in-out alternate;
}

@keyframes itinerarypulse {
  from { transform: scale(1); }
  to { transform: scale(0.85); }
}

.itinerary {
   animation: itineraryTwopulse 3s infinite ease-in-out alternate; 
}

@keyframes itineraryTwopulse {
  from { transform: scale(1); }
  to { transform: scale(0.9); }
}

#first {
    animation: 1.5s fadeInFirst;
}

@keyframes fadeInFirst {
0% {opacity:0;}  
58.33% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeInFirst {
0% {opacity:0;}
58.33% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeInFirst {
0% {opacity:0;}
58.33% {opacity:0;}
100% {opacity:1;}
}

#second {
    animation: 1.7s fadeInSecond;
}

@keyframes fadeInSecond {
0% {opacity:0;}  
64.29% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeInSecond {
0% {opacity:0;}
64.29% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeInSecond {
0% {opacity:0;}
64.29% {opacity:0;}
100% {opacity:1;}
}

#third {
    animation: 1.9s fadeInThird;
}

@keyframes fadeInThird {
0% {opacity:0;}  
68.75% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeInThird {
0% {opacity:0;}
68.75% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeInThird {
0% {opacity:0;}
68.75% {opacity:0;}
100% {opacity:1;}
}

#fourth {
    animation: 2.1s fadeInFourth;
}

@keyframes fadeInFourth {
0% {opacity:0;}  
72.22% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeInFourth {
0% {opacity:0;}
72.22% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeInFourth {
0% {opacity:0;}
72.22% {opacity:0;}
100% {opacity:1;}
}

.cover li {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

ul.cover li.circle {
     -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

ul.cover li.one {
    width: 240px;
    height: 240px;
    top: 547px;
    left: 255px;
    z-index: 99;
    background-color: #3A86FF;
    animation: onepulse 3s infinite ease-in-out alternate;
}
@keyframes onepulse {
  from { transform: scale(1); }
  to { transform: scale(1.2); }
}

ul.cover li.two {
    width: 250px;
    height: 250px;
    top: 542px;
    left: 250px;
    z-index: 98;
    background-color: #8338EC;
    animation: twopulse 3s infinite ease-in-out alternate;
}
@keyframes twopulse {
  from { transform: scale(1); }
  to { transform: scale(1.5); }
}

ul.cover li.three {
    width: 260px;
    height: 260px;
    top: 537px;
    left: 245px;
    z-index: 97;
    background-color: #FF006E;
    animation: threepulse 3s infinite ease-in-out alternate;
}
@keyframes threepulse {
  from { transform: scale(1); }
  to { transform: scale(1.8); }
}


ul.cover li.four {
    width: 270px;
    height: 270px;
    top: 532px;
    left: 240px;
    z-index: 96;
    background-color: #ff8f00;
    animation: fourpulse 3s infinite ease-in-out alternate;
}
@keyframes fourpulse {
  from { transform: scale(1); }
  to { transform: scale(2.3); }
}


ul.cover li.five {
    width: 280px;
    height: 280px;
    top: 527px;
    left: 230px;
    z-index: 95;
    background-color: #3A86FF;
     animation: fivepulse 3s infinite ease-in-out alternate;
}
@keyframes fivepulse {
  from { transform: scale(1); }
  to { transform: scale(3.1); }
}

ul.cover li.six {
    width: 290px;
    height: 290px;
    top: 522px;
    left: 225px;
    z-index: 94;
    background-color: #8338EC;
    animation: sixpulse 3s infinite ease-in-out alternate;
}
@keyframes sixpulse {
  from { transform: scale(1); }
  to { transform: scale(4.4); }
}

ul.cover li.seven {
    width: 300px;
    height: 300px;
    top: 517px;
    left: 220px;
    z-index: 93;
     background-color: #FF006E;
    animation: sevenpulse 3s infinite ease-in-out alternate;
}
@keyframes sevenpulse {
  from { transform: scale(1); }
  to { transform: scale(6.5); }
}

ul.cover li.eight {
    width: 310px;
    height:310px;
    top: 512px;
    left: 215px;
    z-index: 92;
 background-color: #ff8f00;
    animation: eightpulse 3s infinite ease-in-out alternate;
}
@keyframes eightpulse {
  from { transform: scale(1); }
  to { transform: scale(9.9); }
}

ul.cover li.nine {
    width: 320px;
    height: 320px;
    top: 507px;
    left: 210px;
    z-index: 91;
 background-color: #3A86FF;
    animation: ninepulse 3s infinite ease-in-out alternate;
}
@keyframes ninepulse {
  from { transform: scale(1); }
  to { transform: scale(15.4); }
}

ul.cover li.ten {
    width: 330px;
    height: 330px;
    top: 502px;
    left: 205px;
    z-index: 90;
    background-color: #8338EC;
    animation: tenpulse 3s infinite ease-in-out alternate;
}
@keyframes tenpulse {
  from { transform: scale(1); }
  to { transform: scale(24.3); }
}











body {
  width 750px;
  background: #e2e2e2;
}

.wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 8%; 
    width: 500px;
  height: 834px;
  margin: 250px auto; 
    animation: borderpulse 3s infinite ease-in-out alternate;
}
@keyframes borderpulse {
  from { transform: scale(1); }
  to { transform: scale(1.3); }
}


.main-element {
  position: absolute;
  top: 1%;
  left: 1.5%;
  display: block;
  height: 98%;
  width: 97%;
  margin: auto;
  align-self: center;
  background-color: #FFBE0B;
  z-index: 80;
  border-radius: 8%;
  animation: mainpulse 3s infinite ease-in-out alternate;
}
@keyframes mainpulse {
  from { height: 98%; width: 97%; top: 1%; left: 1.5% }
  to { height: 82%; width: 76%; top: 9%; left: 12% }
}



.border {
  position: absolute;
  display: block;
  top: -60%;
  left: -40%;
  z-index: 79;
  display: block;
  height: 300%;
  width: 300%;
  transform: rotate(-45deg);
  overflow: hidden;
  background: linear-gradient(to left, #8338EC 10%, #3A86FF 35%, #FF006E 60%, #8338EC 85%);
  background-size: 200% auto;
    animation: shine 5s linear infinite;
}

/*Begin shimmer code*/

@keyframes shine {
    to {
      background-position: 200% center;
    }
  }fff
