/* Cover Styles */
body {
    background-color: #FFBE0B;
}

#background {
    background-color: #FFBE0B;
    animation: fadeOut ease 3s;
    -webkit-animation: fadeOut ease 3s;
    position: relative;
    height: 100%;
    width: 100%;
    list-style: none;
}

.cover li {
    margin: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}



/* Fonts */
@font-face {
  font-family: lato;
  src: url("Lato-Regular.ttf");
}

@font-face {
  font-family: grandHotel;
  src: url("GrandHotel-Regular.otf");
}



/* Button */
button {
     border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 230px;
    width: 230px;
    background-color: #FFBE0B;
    color: white;
    border: none;
    z-index: 100;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 70px;
    font-family: grandHotel;
    transition-duration: all 3s ease;
    font-size: 50px;
}

button:active {
    background-color: #FFBE0B;
    filter: brightness(.8);
    border: 2.5px solid 
}

p {
   animation: buttonpulse 3s infinite ease-in-out alternate;
}

@keyframes buttonpulse {
  from { transform: scale(1); }
  to { transform: scale(1.4); }
}




/* Circles */
ul.cover li.circle {
     -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

ul.cover li.one {
    width: 240px;
    height: 240px;
    z-index: 99;
    background-color: #3A86FF;
    animation: onepulse 3s infinite ease-in-out alternate;
}
@keyframes onepulse {
  from { transform: scale(1); }
  to { transform: scale(1.2); }
}

ul.cover li.two {
    width: 250px;
    height: 250px;
    z-index: 98;
    background-color: #8338EC;
    animation: twopulse 3s infinite ease-in-out alternate;
}
@keyframes twopulse {
  from { transform: scale(1); }
  to { transform: scale(1.5); }
}

ul.cover li.three {
    width: 260px;
    height: 260px;
    z-index: 97;
    background-color: #FF006E;
    animation: threepulse 3s infinite ease-in-out alternate;
}
@keyframes threepulse {
  from { transform: scale(1); }
  to { transform: scale(1.8); }
}

ul.cover li.four {
    width: 270px;
    height: 270px;
    z-index: 96;
    background-color: #ff8f00;
    animation: fourpulse 3s infinite ease-in-out alternate;
}
@keyframes fourpulse {
  from { transform: scale(1); }
  to { transform: scale(2.3); }
}

ul.cover li.five {
    width: 280px;
    height: 280px;
    z-index: 95;
    background-color: #3A86FF;
     animation: fivepulse 3s infinite ease-in-out alternate;
}
@keyframes fivepulse {
  from { transform: scale(1); }
  to { transform: scale(3.1); }
}

ul.cover li.six {
    width: 290px;
    height: 290px;
    z-index: 94;
    background-color: #8338EC;
    animation: sixpulse 3s infinite ease-in-out alternate;
}
@keyframes sixpulse {
  from { transform: scale(1); }
  to { transform: scale(4.4); }
}

ul.cover li.seven {
    width: 300px;
    height: 300px;
    z-index: 93;
     background-color: #FF006E;
    animation: sevenpulse 3s infinite ease-in-out alternate;
}
@keyframes sevenpulse {
  from { transform: scale(1); }
  to { transform: scale(6.5); }
}

ul.cover li.eight {
    width: 310px;
    height:310px;
    z-index: 92;
 background-color: #ff8f00;
    animation: eightpulse 3s infinite ease-in-out alternate;
}
@keyframes eightpulse {
  from { transform: scale(1); }
  to { transform: scale(9.9); }
}

ul.cover li.nine {
    width: 320px;
    height: 320px;
    z-index: 91;
 background-color: #3A86FF;
    animation: ninepulse 3s infinite ease-in-out alternate;
}
@keyframes ninepulse {
  from { transform: scale(1); }
  to { transform: scale(15.4); }
}

ul.cover li.ten {
    width: 330px;
    height: 330px;
    z-index: 90;
    background-color: #8338EC;
    animation: tenpulse 3s infinite ease-in-out alternate;
}
@keyframes tenpulse {
  from { transform: scale(1); }
  to { transform: scale(24.3); }
}


/* Itinerary */
#mainFrameTwo {
    display:none;
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

h1 {
    animation: 1.2s slide-down;
    font-family: grandHotel;
    color: white;
    font-size: 120px;
    margin-bottom: 0;
    margin-top: 8%;
}

@keyframes slide-down {
  from {
    margin-top: -100%;
    height: 200%; 
  }

  to {
    margin-top: 8%;
    height: 100%;
  }
}

h3 {
    font-family: lato;
    color: white;
    font-size: 30px;
}

#first {
    animation: 1.9s fadeInFirst;
}

@keyframes fadeInFirst {
0% {opacity:0;}  
58.33% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeInFirst {
0% {opacity:0;}
58.33% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeInFirst {
0% {opacity:0;}
58.33% {opacity:0;}
100% {opacity:1;}
}

#second {
    animation: 2.3s fadeInSecond;
}

@keyframes fadeInSecond {
0% {opacity:0;}  
64.29% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeInSecond {
0% {opacity:0;}
64.29% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeInSecond {
0% {opacity:0;}
64.29% {opacity:0;}
100% {opacity:1;}
}

#third {
    animation: 2.7s fadeInThird;
}

@keyframes fadeInThird {
0% {opacity:0;}  
68.75% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeInThird {
0% {opacity:0;}
68.75% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeInThird {
0% {opacity:0;}
68.75% {opacity:0;}
100% {opacity:1;}
}

#fourth {
    animation: 3.1s fadeInFourth;
}

@keyframes fadeInFourth {
0% {opacity:0;}  
72.22% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeInFourth {
0% {opacity:0;}
72.22% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeInFourth {
0% {opacity:0;}
72.22% {opacity:0;}
100% {opacity:1;}
}

#cuteNote {
    animation: 8s fadeInLast;
    font-family: grandHotel;
    font-size: 60px;
    color: white;
}
@keyframes fadeInLast {
0% {opacity:0;
    font-size: 0}
    80% {opacity:0;
    font-size: 0}
83% {opacity:1;
    font-size:100px}
    89% {opacity:1;
    font-size:104px}
100% {opacity:1;
    font-size: 60px;}
}
@-moz-keyframes fadeInLast {
0% {opacity:0;
    font-size: 0}
    80% {opacity:0;
    font-size: 0}
83% {opacity:1;
    font-size:100px}
    89% {opacity:1;
    font-size:104px}
100% {opacity:1;
    font-size: 60px;}
}
@-webkit-keyframes fadeInLast {
0% {opacity:0;
    font-size: 0}
    80% {opacity:0;
    font-size: 0}
83% {opacity:1;
    font-size:100px}
    89% {opacity:1;
    font-size:104px}
100% {opacity:1;
    font-size: 60px;}
}
